<div>

  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Work Team</th>
      </tr>
    </thead>
    <tbody>
      {{#each worker}}
      <tr>


        <th scope="row">{{this.number}}</th>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.workTeam}}</td>
        <td>
          <a href="/workers/{{this.id}}" class="btn btn-success">See
              details</a>
        </td>
        <td>
          <a href="/workers/:id/deploy" class="btn btn-danger details" >Deploy</a>


        </td>



      </tr>
      {{/each}}

    </tbody>
  </table>


</div>