<div class="container-fluid">
  <table class="table table-sm table-hover table-striped mb-5" id="control">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">is Working?</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each workers}}
      
      <tr class="{{classColor this}}" id="{{this.id}}">
        <th scope="row">{{this.number}}</th>
        {{#if this.workday}}
          {{#if this.workday.break}}
              <td>Break</td>
          {{else}}
              <td>{{this.isWorking}}</td>
          {{/if}}
        {{else}}
          <td>{{this.isWorking}}</td>
        {{/if}}

        <td>{{this.lastName}}</td>
        <td>{{this.firstName}}</td>


      </tr>


      {{/each}}

    </tbody>

  </table>
</div>