<div class="container-fluid">
    <div class="d-flex flex-column justify-content-start align-items-top w-25 mb-5">
        <a href="/" class="btn btn-success">Back</a>
    </div>
    <div class="row my-2 mb-5">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
            </ul>
            <div class="tab-content py-4">
                <div class="active" id="profile">
                    <h5 class="mb-3">Worker Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Team</h6>
                            <p>
                                {{currentWorker.workTeam}} </p>
                            <h6>Email</h6>
                            <p><a href="{{currentWorker.email}}">{{currentWorker.email}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center" id="upload">
            <img src="{{currentWorker.profilePic}}"
                class="mx-auto img-fluid img-circle d-block" alt="avatar">
            
                          <button  class="btn btn-warning" onclick="uploadFiles({{toString currentWorker}})">Upload file</button>
        </div>
    </div>
    <div class="col-md-12">
        <h5 class="mt-2"><span class="fa fa-file float-right"></span>Worker files</h5>
        {{> uploadedFiles}}
    </div>
</div>