<div>
  <div>
    <img src="{{worker.profilePic}}" alt="{{worker.firstName}} {{worker.lastName}} profile pic" class="rounded-sm w-100">
    
    </div>
  <h1>Welcome {{worker.firstName}} {{worker.lastName}}</h1>

  {{!-- Buttons for breaks --}}

  {{#if worker.break}}
  <div>
    <button type="submit" class="btn btn-warning">
      Work
    </button>
  </div>
  {{else}}
  <div>
    <button type="submit" class="btn btn-warning">
      Don't work
    </button>
  </div>
  {{/if}}

</div>

{{!-- A helper has been registered to enable if equals --}}
{{#ifEquals worker.currentState "Working"}}
<div>
  <button type="submit" class="btn btn-warning">
    Work
  </button>
</div>

{{/ifEquals}}

{{#if worker.isHR}}

<div>

  <h2>Only render if user is Human Resources</h2>
</div>

{{/if}}


<a href="/logout" class="btn btn-danger">Logout</a>
</div>